@media(min-width:901px){
  .parallax{
    width:100%;
    background-image: url("homePageImage2_blurred.png");
    height:25rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax-text-container{
    
  }

}

@media(max-width:900px){
  .parallax{
    width:100%;
    background-image: url("homePageImage2_blurred.png");
    height:20rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
