@media(min-width:901px){
  .parallax{
    width:100%;
    background-image: url("homePageImage2_blurred.png");
    height:25rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .h1-parallax{
    font-size:4vw;
    text-align: left;
    font-family:lato;
    color:white;
    white-space:nowrap;
    padding-left: 60%;
    padding-right: 30%;
    padding-top:2.5%;
    width:100%;
  }
  .h2-parallax{
    font-size:2vw;
    text-align: left;
    font-family:lato;
    color: #E7E7E7;
    white-space: nowrap;
    padding-left: 60%;
    padding-right: 30%;
    width:100%;
  }
  .h3-parallax{
    font-size:1.5vw;
    text-align: left;
    font-family:lato;
    color: #E7E7E7;
    white-space: nowrap;
    padding-left: 60%;
    padding-right: 10%;
    width:100%;
  }


  .parallax-break{
    display:none;
  }

}

@media(max-width:900px){
  .parallax{
    width:100%;
    background-image: url("homePageImage2_blurred.png");
    height:20rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .h1-parallax{
    font-size:2rem;
    text-align: center;
    font-family:lato;
    color:white;
    white-space:nowrap;
    padding-left: 25%;
    padding-right: 30%;
    padding-top:7vh;
    width:100%;
    position:fixed;
  }
  .h2-parallax{
    font-size:1.15rem;
    text-align: center;
    font-family:lato;
    color: #E7E7E7;
    white-space: nowrap;
    padding-left: 30%;
    padding-right: 30%;
    padding-top:12.5vh;
    width:100%;
    position:fixed;
  }
  .h3-parallax{
    font-size:1rem;
    text-align:center;
    font-family:lato;
    color: #E7E7E7;
    white-space: nowrap;
    padding-left: 2%;
    padding-right: 10%;
    padding-top:14vh;
    width:100%;
    position:fixed;
  }
  .parallax-break{
    display:block;
  }
}
