* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body  {
    font-family: 'Arial' , sans-serif;
    background: #111111;
}
.topNav {
    background: #1f1f1f;
    color: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 4px 2px 2px rgba(0,0,0,0.2);
}
.topNav .mainMenu {
    display: flex;
    list-style: none;
}
.topNav .mainMenu li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #EEEEEE;
    font-size: 1.5rem;
    text-align: center;
}


.topNav li a:hover{
    background: #A1A1A1;
    color:#0E0E0E;
}


.topNav .menuOpen {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
.topNav .mainMenu .menuClose , .icons i {
    font-size: 30px;
    display: none;
    cursor: pointer;
}

.fa-github:hover {color: rgb(255, 123, 0);}
.fa-linkedin:hover {color: rgb(88,128,198)}

.topNav .logo {
    margin: 6px;
    font-size: 20px;
    cursor: pointer;
}

.desktop-home{
width: 100%;
height:100%;
}
.desktop-td
{
  width:50%;
  border-right:5px solid black

}

.icons i {
    display: inline-block;
    padding: 12px;
}


.front-page{
  font-size:24px;
}


@media(max-width: 900px){
  .topNav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }
    .topNav .mainMenu .menuClose {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;

    }
    .topNav .menuOpen {
        display: block;
    }
    .topNav .mainMenu li a:hover {
        background: none;
        color: rgb(128, 128, 128);
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }

    .mobile-home{
      width:100%;
    }

    .mobile-td{
      width:100%;
    }
}
.mainFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:10%;
  text-align: center;
}
