* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body  {
    font-family: 'Arial' , sans-serif;
    background: #E3E3E3;
    background-image: url("homePageImage2_blurred.png");
}
.front-page-content-mobile{
  display:none;
}

.self-photo img{
  height:45vh;
  width:44vh;
  border-radius:50%;
  border:2px solid grey;
  z-index:-1;
}


.fa-github:hover {color: rgb(255, 123, 0);}
.i .fa-github{
  font-size:56px;
  color:white;
}
.fa-linkedin:hover {color: rgb(88,128,198)}


h2{
  color: white;
  font-size: 3rem;
  font-family:lato;
}
h4{
  color: #212121;
  font-size: 2rem;
  font-family:lato;
}

p{
  color: #E7E7E7;
  font-size: 1.5rem;
  font-family:lato;
}

.list-text{
  color: #1a1a1a;
  font-size:1rem;
  font-family:lato;
}

.flex-box {
  display: flex;
  flex-direction: row;
  align-content:center;
  margin-top:10vh;
  margin-left:20%;
  margin-right:20%;
  gap:1.5rem;
  flex-wrap: wrap;
}

.flex-box-item{
  flex:25%;
  padding:2rem;
  /*box-shadow:1px 1px 2px 2px rgb(27 27 27 / 73%);*/
  border-radius:5px;
  background:#ededed59;
}


.flex-box-header{
  color:#636363;
  font-size:1.5rem;
  font-family:Arial;
}


ul.flex-box-list{
  list-style:none;
  color: #dbdbdb;
  font-size:1.25rem;
  font-family:lato;
}
ul.flex-box-list li{
  padding-bottom:5px;

}
ul.flex-box-list li span{
  position: relative;
  left:-10px;
}
ul.icons i {
    display: inline-block;
    padding: 20px;
}


.td-card{
  width:30%;
  background-color:#EEEEEE;
  box-shadow:1px 1px 2px 2px rgb(80 80 80 / 73%);
  border-radius:30px;
  vertical-align:top;
}
.td-card ul{
  padding-left:2.5rem;
  padding-top:1.5rem;
}
.td-card ul li{
  font-size:1.25rem;
  color:#aaaaaa;
  font-family:arial;
  padding:5px;
}

.card-header{
  font-size:2.25rem;
  color:#dbdbdb;
  text-align:center;
  font-family:lato;
}

.desktop-home{
width: 100%;
height:100%;
}
.desktop-td
{
  width:50%;
  border-right:5px solid black

}

.icons i {
    display: inline-block;
    padding: 12px;

}

.tdIcons {
    justify-content: space-between;
    padding:2rem;
    text-align: center;
    padding-left:16vw;
}


.front-page{
  font-size:24px;
}

@media(min-width:901px && max-width:975px){
  .flex-box {
    display: flex;
    flex-direction: row;
    align-content:center;
    margin-left:20%;
    margin-right:20%;
    gap:1.5rem;
  }
  .flex-box-item{
    flex:25%;
    border:1px solid black;
    padding:15px;
    box-shadow:1px 1px 1px 1px rgb(80 80 80 / 73%);
    border-radius:10px;
  }
}

@media(max-width: 900px){
  .front-page-content-desktop{
    display:none;
  }
  .front-page-content-mobile{
    display:block;
  }
  .self-photo img{
    height:27vh;
    width:27vh;
    border-radius:50%;
    z-index:-1;
  }
  h2{
    font-size:1.5rem;
    padding-right:.5rem;
    text-align: center;
    font-family:lato;
  }
  h4{
    font-size:1.25rem;
    text-align: center;
    font-family:lato;
  }
  p{
    font-size:1.25rem;
    text-align:center;
    font-family:lato;
  }
  .card-header{
    font-size:1.75rem;
    color:#dbdbdb;
    text-align:center;
    font-family:lato;
  }


  .flex-box {
    flex-direction: column;
    margin-left:0%;
    margin-right:0%;
  }
  .flex-box-item{
    flex:10%;
    border:1px solid black;
    padding:15px;
    box-shadow:1px 1px 1px 1px rgb(80 80 80 / 73%);
    border-radius:10px;
    font-size:1.25rem;
    width:100%;
  }
  ul.flex-box-list li{
    font-size:1.15rem;
  }

  .mobile-home{
    width:100%;
  }

  .mobile-td{
    width:100%;
  }
  .mainFooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:10%;
    text-align: center;
    display:block;
  }

}
.mainFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:10%;
  text-align: center;
}
